.viewport {
  background: url("pattern-background-mobile.svg") center top no-repeat;
  background-size: contain;
  display:grid;
  height: 100vh;
  padding: 1.5rem;
  place-items: center;
  width: 100vw;
}                                            

@media (min-width: 768px) {
  .viewport {
    background-image: url("pattern-background-desktop.svg");
  }                       
}

article {
  background: #F5F7FF;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 1.75rem  #7280A740;
  max-width: 375px;                    
}

button.btn {
  border: 0;
  border-radius: 0.75rem;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem;
  transition: 100ms all ease;
  }
  
button.btn.centric {
    background: #3829E0;
    box-shadow: 0 0.5rem 1rem #3829E0;
    color: #F5F7FF;
}

button.btn.centric:hover {
  opacity: 0.65;
}

button.btn.transparent {
  color: #7280A7;
}

button.btn.transparent:hover {
  color: #1F2F56;
}

a.link {
  color: #3829E0;
  cursor: pointer;
  display: inline-block;
  font-size: 12.8px;
  font-weight: 900;
  transition: color 100ms linear;
}

a.link:hover {
  opacity: 0.65;
  text-decoration: none;
}

.article_content {
  padding: 1.5rem;                       
}   

.article_content > * {
  margin: 0;
  margin-top: 1.5rem;
  text-align: center;                         
} 

.article_cover {
  background: url("illustration-hero.svg") center center no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  height: 12rem;                      
}

.option {
  align-items: center;
  background: #E0E8FF;
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem                      
}                                              

.width_25 {
  width: 25%;
}                                               

.width_50 {                         
  width: 50%;                       
}

.icon {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}                                               

#music {                         
  background: url("icon-music.svg") center center no-repeat;                         
  background-size: contain;                       
} 

.col_text {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;                 
}   

.col_buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  color: #1F2F56;
  font-size: 18px;
  font-weight: 900;
  margin-top: 1rem;
}
  
.paragraph {
  color: #7280A7;
  font-size: 16px;
  font-weight: 500;
}

.label {
  color: #1F2F56;
  font-size: 16px;
  font-weight: 700;
}

